body{
    background-color: hsl(233, 47%, 7%);
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin: 100px;
}
.attribution a:hover{
    color: red;
}
.one{
    width: 600px;
    height: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
}
.two{
    width: 600px;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px solid;
}
.two{
    background-image: linear-gradient(to top left, rgba(49, 0, 128, 0.6), rgba(39, 10, 128, 0.829)), url(images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.one{
    background-color: hsl(244, 38%, 16%);
}
.main{
    margin-top: 90px;
    padding-right: 80px;
    padding-left: 40px;
    color: hsl(0, 0%, 100%);
    font-size: 50px;
}
.main2{
    margin-top: 30px;
    padding-right: 80px;
    padding-left: 40px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 23px;
}
.sight{
    color: hsl(277, 64%, 61%);
}
.container2{
    display: grid;
    grid-template-columns: auto auto auto;
}
.three{
    padding-left: 40px;
}
.four h1{
    color: hsl(0, 0%, 100%);
}
.five h1{
    color: hsl(0, 0%, 100%);
}
.three h1{
    color: hsl(0, 0%, 100%);
}
.six{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 20px;
    margin-top: -20px;
}
@media screen and (max-width: 394px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .two{
        width: 360px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .container2{
        display: flex;
        flex-direction: column;
    }
    .one{
        text-align: center;
        height: 880px;
        width: 360px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .main{
        margin-left: -20px;
        margin-top: 35px;
        font-size: 50px;
        width: 320px;
    }
    .main2{
        margin-left: -10px;
        font-size: 35px;
        width: 300px;
    }
    .three{
        margin-right: 30px;
    }
    .attribution{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .two{
        width: 360px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .container2{
        display: flex;
        flex-direction: column;
    }
    .one{
        text-align: center;
        height: 880px;
        width: 360px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .main{
        margin-left: -20px;
        margin-top: 35px;
        font-size: 50px;
        width: 320px;
    }
    .main2{
        margin-left: -10px;
        font-size: 35px;
        width: 300px;
    }
    .three{
        margin-right: 30px;
    }
    .attribution{
        display: none;
    }
}
@media screen and (max-width: 1114px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .two{
        width: 360px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .container2{
        display: flex;
        flex-direction: column;
    }
    .one{
        text-align: center;
        height: 880px;
        width: 360px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .main{
        margin-left: -20px;
        margin-top: 35px;
        font-size: 50px;
        width: 320px;
    }
    .main2{
        margin-left: -10px;
        font-size: 35px;
        width: 300px;
    }
    .three{
        margin-right: 30px;
    }
    .attribution{
        display: none;
    }
}
/* This Is The End Of My Code, Please Do not Manipulate This Code */